mat-expansion-panel {
    margin: 10px
}

mat-panel-title {
    font-weight:bold;
    color:  #c2185b;
}
[mat-fab] {
    position: fixed;
    right: 2%;
    top: 25px;
    z-index: 4;
    
}

.taskReady {
color: rgb(106, 182, 91)
}

.taskInProcess {
    color: #f7c41d
}