<mat-grid-list cols="2" gutterSize="2px" >
    <mat-grid-tile colspan="2"   > 
    
        <div class="mat-card1" matRipple  >
          <a href="https://www.google.com/maps">
          <img style="width: 100%; height: 100%;" src="https://snazzy-maps-cdn.azureedge.net/assets/37-lunar-landscape.png?v=20170626074350">
        </a>  
            
        </div>
 </mat-grid-tile>
    
<mat-grid-tile colspan="2" rowspan="2" > 
    <div class="mat-card2" >
      <span> Адрес: </span> ул.Комунаров, дом.1
      <mat-divider style="margin-top: 10px; margin-bottom: 10px"></mat-divider>
      <span> Директор Магазина: </span> Александр Власов 
      <mat-divider style="margin-top: 10px; margin-bottom: 10px" ></mat-divider>
      <span> Количество сотрудников:</span> 228
      <mat-divider style="margin-top: 10px; margin-bottom: 10px" ></mat-divider>
    </div>
  </mat-grid-tile>
</mat-grid-list>