<button mat-fab id="backButton" color="accent"  routerLink=""> <mat-icon>keyboard_backspace</mat-icon> </button>

<div style="margin: 10px">
  <mat-grid-list cols="3" gutterSize="10px" >
    <mat-grid-tile colspan="2" rowspan="2" style="border-radius: 1000px"   > </mat-grid-tile>
    <mat-grid-tile colspan="1"   > </mat-grid-tile>
    <mat-grid-tile colspan="1"   > </mat-grid-tile>
    <mat-grid-tile colspan="3"   > </mat-grid-tile>
    <mat-grid-tile colspan="1"   > </mat-grid-tile>
    <mat-grid-tile colspan="1"   > </mat-grid-tile>
    <mat-grid-tile colspan="1"   > </mat-grid-tile>
  </mat-grid-list>
</div>